@charset "UTF-8";

body {
    background-color: white;
}

table {
    border-collapse: collapse;
}

caption {
    font-weight: bold;
}

td {
    border: 1px solid black;
    width: 100px;
    height: 25px;
}

th {
    border: 1px solid black;
    width: 100px;
    height: 25px;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray; 
}

.primeira {
    width: 200px;
}

#container {
    overflow-x: auto;
}