@charset "UTF-8";

/* 
    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #1a5c37
    #063d1e
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1: #e7e6c3;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

body {
    background-color: #e7e6c3;
    font-family: var(--fonte-padrao);
}

header {
    background-color: rgb(3, 61, 29);
}

header > h1 {
    text-align: center;
    color: white;
    padding: auto;
}
header > p {
    color: white;
    text-align: center;
}
nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
}
article > h1 {
    color: black;
}
footer {
    background-color: var(--cor6);
    color: rgba(255, 255, 255, 0.677);
    padding: 5px;

}
aside {
    background-color: rgb(197, 235, 214);
    border-radius: 10px;
}
aside > h3 {
    background-color: rgb(47, 168, 102);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding-left: 5px;
}