@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#telefone {
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../imagens/frame-iphone.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#redes-sociais {
    text-align: right;
}

#redes-sociais img {
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.587);
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid white;
    box-shadow: 5px 5px 10px black;
    transition: 1s;
}


#tela {
    position: relative;
    top: 11%;
    left: 6.9%;
    width: 264.5px;
    height: 480px;
}